<a href="https://colab.research.google.com/github/ChaiwatKhodboon/02739242_700/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
?{P|":print ("Hello World!")

Object `{P|":print ("Hello World!")` not found.

In [ ]:
print ('single quote')

single quote

"หรือ'แสดงผลได้เหมือนกัน

In [ ]:
print("hello+""world")
print("heiio"+""+"world")
print("hello","world","R2DE")

hello+world
heiioworld
hello world R2DE

int เป็นข้อมูลประเภทจำนวนเต็ม

In [ ]:
# int
a = 1
a

1

In [ ]:
# This is comment
# print("hello")
# สิ่งที่อบู่หลังเครื่องหมาย

In [ ]:
#Float
float(a)

1.0

เป็นทศนิยม

In [ ]:
# String
str(a)

'1'

str(String) เป็นข้อมูลประเภทข้อความ สามารถแปลงตัวเลขให้เป็นข้อความได้ด้วย str(ตัวแปร)

In [ ]:
str(a)+"1"

'11'

In [ ]:
print(1+2+3)

6

In [ ]:
bool(a)

True

In [ ]:
bool(0)

False

In [ ]:
bool(None)

False

ถ้าไม่มีค่าจะเป็นFalse

คำสั่ง typa เป็นคำสั่งตรวจสอบตัวแปร

In [ ]:
type(a)

int

In [ ]:
b="Python!"
b

'Python!'

ถ้าแปรงไม่ได้จะขึ้นว่า ValueError

List
เป็น data structure ที่เก็บข้อมูลเป็นลำดับ

In [ ]:
#ทบทวนตัวแปร
print(a,type(a))
print(b,type(b))

1 <class 'int'>
Python! <class 'str'>

In [ ]:
empty_list=[]
print(empty_list)

[]

การสร้าง list สร้างโดยใช้เครื่องหมาย[]

In [ ]:
l = [b,a,a+1,a+2]
l

['Python!', 1, 2, 3]

In [ ]:
l[3]=5
l

['Python!', 1, 2, 5]

ลองดูการเปลี่ยนแปรง

In [ ]:
l

['Python!', 1, 2, 5]

การเพิ่มสมาชิกของlist ต่อท้าย append

In [ ]:
l.append(":)")
l

['Python!', 1, 2, 5, ':)']

In [ ]:
l.pop()
l

['Python!', 1, 2, 5]

pop คือการลบคำสั่งตัวสุดท้ายออก list

Tuple ไม่สามารถแก้ไขข้อมูลได้.ใช้สัญญาลักษณะ()ในการสร้าง

In [ ]:
t=(0,1,2,3,4)

In [ ]:
len(t)

5

In [ ]:
t[0:3]

(0, 1, 2)

ตำแหน่ง0-3

การใช้เลขindex เพื่อเข้าถึงสมาชิกได้ ตัวแรกถึง-1

In [ ]:
t[-1]

4

In [ ]:
t[-3:]

(2, 3, 4)

In [ ]:
t[:-3]

(0, 1)

Tuple ไม่สามารถเปลี่ยนค่าได้

Dictionary
เช่น dict={"key":"value")

In [ ]:
grade = {
    "A":80,
    "B":70,
    "C":60,
    "D":50,
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["B+"]=75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

คือการอัพเดตค่า

In [ ]:
d={}
d=["s001"]="Perth"
d=["s002"]="Fon"

SyntaxError: cannot assign to literal (<ipython-input-36-844b1846d610>, line 2)

Python String
สำหรับเก็บข้อมูลประเภทข้อความ

In [ ]:
sentence = " Hello Python.l am ready"

จะคล้ายกับ list

In [ ]:
sentence[1]

'H'

In [ ]:
sentence[1:13]

'Hello Python'

In [ ]:
sentence.strip()

'Hello Python.l am ready'

In [ ]:
list_of_words = sentence.strip().split(' ')

In [ ]:
corgi = ''.join(list_of_words)
corgi

'HelloPython.lamready'

In [ ]:
#ทบทวนตัวแปรl
l

['Python!', 1, 2, 5]

In [ ]:
for item in l:
  print(item)

Python!
1
2
5

In [ ]:
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
t

(0, 1, 2, 3, 4)

In [ ]:
# List Comprehension
lis_t=[i for i in t]

ดับเบิลคลิก เพื่อแก้ไข

In [ ]:
[i + 1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

if เมื่อเงื่อนไขเป็นจริงเท่านั้น
ยกเว้นรอง

In [ ]:
if len(t)== 5:
  print("length is 5")
else:
  print("length not equals 5")

length is 5

ตัวอย่างโค้ดการอัพเดตตัวแปร score

In [ ]:
# ทบทวนตัวแปร  grade ตัวเต็ม
grade

NameError: name 'grade' is not defined

In [ ]:
   score = 75
   if score >= geade["a"]:
    print('a')
    print('good jop')
  elif  score >= geade["b+"]:
    print('b+')
  elif  score >= geade["b"]:
    print('b')
  elif  score >= geade["c"]:
    print('c')
  elif  score >= geade["d"]:
    print('d')
  else:
      print('f')

IndentationError: unexpected indent (<ipython-input-1-eebfcb86229a>, line 5)

In [ ]:
import math

math.ip

AttributeError: module 'math' has no attribute 'ip'

Math

Datetime

In [ ]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 7, 9, 40, 0, 795715)

isoformat

In [ ]:
now.isoformat()

'2025-01-07T09:40:00.795715'

In [ ]:
today=datetime.date.today()

Simple functions

In [ ]:
def circle_area(radius):
  return pi*radius*radius

  circle_area(4)

In [ ]:
def rectangle_area(height,width):
  return height*width
  rectangle_area(4,5)

สร้างฟังค์ชั่นแปรงค่้าเงิน

In [ ]:
def conversion(amount,rate=31.33):
  return amount*rate

  conversion(30)

สามารถเปลี่ยนค่าเลทได้เหมือนฟังก์ชั่นปกติ

In [ ]:
conversion(30,34.3333)

1029.999

การ

In [ ]:
file = open("output.csv","w")
file.write("date,item,price\n")
file.write("2020-02-07,Milk,26.5\n")
file.write("2020-02-08,Water,7\n")
file.close()

การวนลูป

In [ ]:
header=("date","item","price")
",".join(header)+"\n"

'date,item,price\n'

In [ ]:
header=("date","item","price")
content = [
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lays","10"),
    ("2020-02-08","Rice","6")
]

file = open('products.csv','w')
file.write(",".join(header)+"\n")

for row in content:
 file.write(",".join(row)+"\n")


file.close()

In [ ]:
with open("products.csv","r") as f:
  product=f.readlines()

  product

In [ ]:
len(product)

6

การอ่านไฟล์ด้วยแพนด้าสpandas

In [ ]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.to_csv("new_data.csv")

JSON

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
import json
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50}'

In [ ]:
type(json.dumps(grade))

str

In [ ]:
#Save to output file grade.json
json.dump(grade,open("grade.json","w"))

NameError: name 'json' is not defined

In [ ]:
students = json.loads('{"student1":"Perth","student2":"Fon"}')
students

NameError: name 'json' is not defined